* {
  font-family: Roboto;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
/* ===GENERAL=== */
/* ===HEADER=== */
/* ===MAIN=== */

/* ===FOOTER=== */
footer {
  background: red;
  height: 140px;
}

.footer-style {
  display: flex;
}

footer ul {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.chms-logo img {
  width: 5rem;
}

.footer-style > ul > li:nth-child(2) {
  font-size: 50px;
}
