<<<<<<< HEAD
* {
  font-family: Roboto;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8fd;
}

div.partners {
    display: grid;
    background-color: #fff;

}

div.partners > div.logo {
    background-image: url(./mustangs/assets/images/Wordmark_Black.png)

}


=======
/* ===GENERAL=== */
/* ===HEADER=== */
/* ===MAIN=== */

/* ===FOOTER=== */
>>>>>>> 4f3df7762a2a73bb4e548dcfbc000fff0c08f803
